name: Test Astral uv cache

on:
  workflow_dispatch:

jobs:
  create-issues:
    runs-on: ubuntu-latest
    steps:
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Cowsay
      run: uvx cowsay "I hope this is cached"
